vrrp_instance VI_1 {
  state {{ 'MASTER' if keepalived_priority == 100 else 'BACKUP' }}
  interface {{ ansible_facts.default_ipv4.alias }}
  virtual_router_id 51
  priority {{ keepalived_priority }}
  advert_int 1

  authentication {
    auth_type PASS
    auth_pass 45507f63
  }

  virtual_ipaddress {
    10.0.100.109/24 dev {{ ansible_facts.default_ipv4.alias }}
  }

  # Allow packets addressed to the VIPs above to be received
  accept
}

virtual_server 10.0.100.109 {
  delay_loop 6
  lb_algo rr
  lb_kind NAT
  protocol TCP

{% for host in groups["dc1"] %}
  real_server {{ hostvars[host]['ansible_facts']['default_ipv4']['address'] }} 443 {
    TCP_CHECK {
      connect_timeout 5
    }
  }
{% endfor %}
}
