auto_auth {
  method {
    type = "approle"

    config {
      role_id_file_path = "/etc/vault-agent.d/agent.roleid"
    }
  }
}

vault {
  address = "{{ vault_addr }}"
}

template_config {
  lease_renewal_threshold = 0.7
}
