# Full configuration options can be found at https://www.consul.io/docs/agent/config

datacenter = "dc1"

data_dir      = "/opt/consul"
enable_syslog = true
log_level     = "WARN"

{% if "homelab" in group_names %}
server             = true
bootstrap_expect   = 3
leave_on_terminate = true
{% endif %}

domain = "home."
alt_domain = "consul."

encrypt = "zCRKj1wD/rj5Mq747hHufzT/SN1RzHRiR4Kcr0KYQrQ="
encrypt_verify_incoming = true
encrypt_verify_outgoing = true

ui_config {
  enabled = true
}

connect {
  enabled = true
}

client_addr    = "0.0.0.0"
advertise_addr = "{{ '{{' }} GetInterfaceIP \"{{ ansible_default_ipv4.interface }}\" {{ '}}' }}"
bind_addr      = "{{ '{{' }} GetInterfaceIP \"{{ ansible_default_ipv4.interface }}\" {{ '}}' }}"
retry_join     = ["10.0.100.100", "10.0.100.101", "10.0.100.102"]
