[Service]
ExecStartPre=mkdir -p %h/volumes/%N/opt/tplink/EAPController/logs
ExecStartPre=mkdir -p %h/volumes/%N/opt/tplink/EAPController/data
Restart=always

[Container]
ContainerName=omada-controller
HostName=omada-controller
Image=docker.io/mbentley/omada-controller:5.15
Environment=TZ=America/New_York
Environment=SHOW_SERVER_LOGS=true
Environment=SHOW_MONGODB_LOGS=false
Volume=/mnt/omada-controller/logs:/opt/tplink/EAPController/logs
Volume=/mnt/omada-controller/data:/opt/tplink/EAPController/data
Network=host
PublishPort=8088:8088
PublishPort=8043:8043
PublishPort=8843:8843
PublishPort=19810:19810/udp
PublishPort=27001:27001/udp
PublishPort=29810:29810/udp
PublishPort=29811-29816:29811-29816

[Install]
WantedBy=multi-user.target
