# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: BUSL-1.1

# Full configuration options can be found at https://developer.hashicorp.com/nomad/docs/configuration

data_dir  = "/opt/nomad/data"
bind_addr = "0.0.0.0"

advertise {
  http = "{{ '{{' }} GetInterfaceIP \"{{ ansible_default_ipv4.interface }}\" {{ '}}' }}:4646"
  rpc  = "{{ '{{' }} GetInterfaceIP \"{{ ansible_default_ipv4.interface }}\" {{ '}}' }}:4647"
  serf = "{{ '{{' }} GetInterfaceIP \"{{ ansible_default_ipv4.interface }}\" {{ '}}' }}:4648"
}

ui {
  enabled = true

  consul {
    ui_url = "http://consul.service.home:8500/ui"
  }

  vault {
    ui_url = "https://vault.service.home:8200/ui"
  }
}

consul {
  address              = "localhost:8500"
  auto_advertise       = true
  checks_use_advertise = true

  server_auto_join = true
  client_auto_join = true
}

acl {
  enabled = true
}

vault {
  enabled = true

  tls_skip_verify = true

  create_from_role = "nomad-cluster"

  default_identity {
    aud  = ["vault.io"]
    env  = true
    file = true
    ttl  = "1h"
  }
}

telemetry {
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
  use_node_name = false
}

plugin "docker" {
  config {
    allow_privileged = true
    allow_caps       = ["ALL"]

    volumes {
      enabled = "true"
    }
  }
}

plugin "nomad-driver-podman" {
  config {
    volumes {
      enabled = "true"
    }
  }
}
