# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: BUSL-1.1

# Full configuration options can be found at https://developer.hashicorp.com/nomad/docs/configuration

data_dir   = "/opt/nomad/data"
bind_addr  = "0.0.0.0"
datacenter = "{{ nomad_datacenter }}"

advertise {
  http = "{{ ansible_host }}:4646"
  rpc  = "{{ ansible_host }}:4647"
  serf = "{{ ansible_host }}:4648"
}

tls {
  http = true
  rpc  = true

  ca_file   = "/etc/ssl/certs/home.pem"
  cert_file = "/etc/nomad.d/server.crt"
  key_file  = "/etc/nomad.d/server.key"

  verify_server_hostname = true
  verify_https_client    = false
}

consul {
  address      = "localhost:8501"
  grpc_address = "localhost:8503"
  grpc_ca_file = "/etc/ssl/certs/home.pem"
  ssl          = true

  auto_advertise       = true
  checks_use_advertise = true

  server_auto_join = true
  client_auto_join = true
}

acl {
  enabled = true
}

vault {
  enabled = true
  address = "https://vault.service.home:8200"

  default_identity {
    aud  = ["vault.io"]
    env  = false
    file = true
    ttl  = "1h"
  }
}

http_api_response_headers {
  "Access-Control-Allow-Origin" = "*"
}

telemetry {
  disable_hostname           = true
  prometheus_metrics         = true
  publish_allocation_metrics = true
  publish_node_metrics       = true
  use_node_name              = false
}
