# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: BUSL-1.1

# Client configuration options can be found at https://developer.hashicorp.com/nomad/docs/configuration/client

client {
  enabled = true

  max_kill_timeout = "30s"

{% if cpu_total_compute is defined %}
  cpu_total_compute = {{ cpu_total_compute }}

{% endif %}
  gc_interval              = "1m"
  gc_disk_usage_threshold  = 80
  gc_inode_usage_threshold = 70
  gc_parallel_destroys     = 2

  meta {
{% for hwcap in hardware_capabilities %}
    has_{{ hwcap }} = "true"
{% endfor %}
{% if 'vault_servers' in group_names %}
    has_vault = "true"
{% endif %}
  }
}

ui {
  enabled = true

  consul {
    ui_url = "https://consul.service.home:8501/ui"
  }

  vault {
    ui_url = "https://vault.service.home:8200/ui"
  }
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

plugin "docker" {
  config {
    allow_privileged = true
    allow_caps       = ["ALL"]

    volumes {
      enabled = "true"
    }
  }
}

plugin "nomad-driver-podman" {
  config {
    volumes {
      enabled = "true"
    }
  }
}
